.box{
    width: 100px;
    height: 100px;
    border: 1px solid #000000;
    border-radius: 50%;
    background-color: black;
    animation: move 2s ease alternate;
}
.boxx{
    width: 100px;
    height: 100px;
    border: 1px solid #000000;
    border-radius: 50%;
    background-color: black;
    animation: move_hi 2s ease alternate-reverse;
    margin-left: 400px;
}
@keyframes move{
    0%{
        transform: translate(0px);
    }
    100%{
        transform: translate(250px, 0px);
    }
}
@keyframes move_hi{ 
    0%{
        transform: translate(0px);
    }
    100%{
        transform: translate(250px, 0px);
    }
}
.manage{
    width: 100%;
    height: 300px;
    align-items: center;
}
